
<% if @idea.present? %>
  
<div class="panel panel-default">
  <div class="panel-body">
    <div class="panel-heading">
      <div class="row">
        <div class="user-img">
          <%= image_tag @idea.user.photo %>
        </div>
        <%= link_to  @idea.user.email, user_path(@idea.user_id) %>
      </div>
    </div>
    <blockquote>
      <p><%= @idea.description %></p>
      <small>by <%= @idea.author %></small>
    </blockquote> 
    <br>
    <div class="btn-group" role="group">
      <% if @idea.user == current_user %>
        <%= link_to 'Delete', idea_path(@idea), method: :delete, class: 'btn btn-sm btn-danger', data: {confirm: "Are you sure?"} %>
        <%= link_to 'Revise', edit_idea_path(@idea), class: 'btn btn-sm btn-success' %>
      <% end %>
    </div>
  </div>
</div>

<%= link_to 'Inspire Me', random_path, class: 'btn btn-primary btn-block' %>

<% else %>
  <h4>No ideas have been shared. Add one <%= link_to 'here', root_path %></h4>
<% end %>