<div class="user-profile">
  <div class="row">
    <div class="col-sm-4 p0">
      <%= image_tag @user.photo %>
    </div>
    <div class="col-sm-8 p0">
      <h1 class="mt0"><%= @user.email %></h1>
      <h3><%= pluralize(@user.ideas.count, 'idea') %></h3>
    </div>
  </div>
</div>

<% @user.ideas.each do |idea| %>
<div class="panel panel-default">
  <div class="panel-body">
    <div class="panel-heading">
      <div class="row">
        <div class="user-img">
          <%= image_tag idea.user.photo %>
        </div>
        <%= link_to  idea.user.email, user_path(idea.user_id) %>
      </div>
    </div>
    <blockquote>
      <p><%= idea.description %></p>
      <small>by <%= idea.author %></small>
    </blockquote> 
    <br>
    <div class="btn-group" role="group">
      <% if idea.user == current_user %>
        <%= link_to 'Delete', idea_path(idea), method: :delete, class: 'btn btn-sm btn-danger', data: {confirm: "Are you sure?"} %>
        <%= link_to 'Revise', edit_idea_path(idea), class: 'btn btn-sm btn-success' %>
      <% end %>
    </div>
  </div>
</div>
<% end %>